# logstash config file for loading in wait times.

input {
    file {
        path => "/Users/bryan/code/personal/waittimes/disney_out/2017-*"
        start_position => beginning
		sincedb_path => "/Users/bryan/code/personal/waittimes/sincedb_disney"
    }
}
filter {
    csv {
        columns => [
          "park",
		  "ride name",
		  "wait time",
		  "status",
		  "date-time"
        ]
        separator => ","
        }
    date {
        match => ["time", "ISO8601"]
    }
    mutate {
        convert => ["wait time", "integer"]
    }
}
output {
    elasticsearch {
        hosts => ["localhost:9200"]
		index => ["disney-waittimes"]
		user => elastic
		password => changeme
    }
    stdout { }
}

#        path => "/Users/bryan/code/personal/waittimes/disney_out/2017-07-14-22:33:15.csv"
#        path => "/Users/bryan/code/personal/waittimes/disney_out/2017-07-14-22:45:05.csv"

# TODO: Need to create a logstash user as suggested here instead of using superuser:
# [Logstash and Security | X-Pack for the Elastic Stack [5.5] | Elastic](https://www.elastic.co/guide/en/x-pack/current/logstash.html)
# 
# Need to read in all files in a folder
# Ref link:
# [Configuring Logstash | Logstash Reference [5.5] | Elastic](https://www.elastic.co/guide/en/logstash/current/configuration.html)
# [File input plugin | Logstash Reference [5.5] | Elastic](https://www.elastic.co/guide/en/logstash/current/plugins-inputs-file.html)